<!-- JS Scripts -->
<script src="{{ url_for('static', path='/js/lib/jquery.min.js') }}"></script>
<script src="{{ url_for('static', path='/js/lib/aos.min.js') }}"></script>
<script src="{{ url_for('static', path='/js/core.js') }}"></script>